.card {
    width: 100%; /* Set the width to 100% to match the parent container */
    max-width: 800px; /* Set a maximum width for the card */
  }
  
  .card-details {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-top: 0px;
    padding-bottom:0px;
  }
  
  .modal-content {
    overflow: auto; /* Add scrollbars if the content exceeds the modal size */
    max-height: 400px; /* Set a maximum height for the modal content */
    background-color: #f8f9fa; /* Set your desired background color */
    border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  
  .modal-dialog {
    max-width: 800px; /* Set a maximum width for the modal dialog */
  }
  
  .card-body {
    padding-top: 2px;
  padding-bottom:2px;
    max-width: 800px; /* Set a maximum width for the card body */
  }
  .card-details p {
    margin-bottom: 5px; /* Decrease the bottom margin */
  }
  